#container {

  margin: : 20px auto;
}

#content {
  float: right;
  width: 80%;
  background-color: #87cefa;
}

#sidebar {
    /*float:left;*/
    float: right;
    width: 20%;
    background-color: lightgray;
    padding:15px;

}

#footer {
    clear:both;
    padding-top:15px;
}
