#container {

    margin:20px auto;
}

#content {
  float: right;
  width: 80%;
  background-color: #00ff00;
}

#sidebar {
    /*float:left;*/
    float: right;
    width: 20%;
    background-color: lightgray;

}

#footer {
    clear:both;
}
