<div id="container">
  <div id="header">
    Bloc Chat
  </div>

  <div id="content">
    <h3> Active Room </h3>
      <h4 class = "title"></h4>
      <!-- <p>ng-repeat{{home.activeRoom.message}}</p> -->
  </div>

  <div id="sidebar" ng-repeat="room in home.rooms">
    <a ng-click="home.activeRoom(room)">{{ room.$value }}</a>
  </div>

  <div id="footer">
    <button class="btn" type="button" ng-click="home.openModal()">Open Modal</button>
  </div>
</div>

<!-- ng-click = "home.activeRoom.setActiveRoom" -->
<!-- {{ room.$value }} -->
